

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Gamify Investment Network Connecting Million of Gamers, Youngsters and Investment Enthusiasts Worldwide</h1>
      <p class="lead text-muted">Benefit from joining the awesome community!</p>
      <p>
        <%= link_to "Video", video_path, class: "btn btn-secondary my-2" %>
        <%= link_to "e-Sport Challenge", esport_path, class: "btn btn-primary my-2" %>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "tank3.jpeg", :width => '100%', :height => '225' %>
            <div class="card-body">
              <p class="card-text">Grow your money in Fixed Deposit </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Information", tank_info_path  %></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Guide", tank_roi_path  %></button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "fighter3.jpeg", :width => '100%', :height => '225' %>
            <div class="card-body">
              <p class="card-text">Grow your money in Unit Trust</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Information", fighter_info_path  %></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Guide", fighter_roi_path  %></button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "support3.jpeg", :width => '100%', :height => '225' %>
            <div class="card-body">
              <p class="card-text">Grow your money in Insurance</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Information", support_info_path  %></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Guide", support_roi_path  %></button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "assasin3.jpeg", :width => '100%', :height => '225' %>
            <div class="card-body">
              <p class="card-text">Grow your money in Stock Market</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Information", assasin_info_path  %></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Guide", assasin_roi_path  %></button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "mage3.jpeg", :width => '100%', :height => '225' %>
            <div class="card-body">
              <p class="card-text">Grow your money in Shariah specific compliant investments</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Information", mage_info_path  %></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Guide", mage_roi_path  %></button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "mm3.jpeg", :width => '100%', :height => '225' %>
            <div class="card-body">
              <p class="card-text">Get cashback on all the money you spend</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Information", mm_info_path  %></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Guide", mm_roi_path  %></button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>

</main>



</body>

